---
layout: default
---
<p>
    Be patient when accessing these applications, the server is a severely constrained virtual machine and
    it may take up to a few seconds to respond.
</p>

<div class="app-cards">
    {% include card.html
        title="dockideweb"
        imageSrcFilename="jsedano_small.jpg"
        imageAlt="dockideweb"
        content="<p><b>This very page.</b></p><p>Reference architecture of static page built with <b>Jekyll</b>, styled with W3CSS, coded with Visual Studio Code and deployed using GitLab-CI to Google Compute Engine.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/dockideweb"
        url="/"
    %}
    {% include card.html
        title="Tortuga"
        imageSrcFilename="tortuga.png"
        imageAlt="tortuga"
        content="<p><b>Java/Spring and Typescript/Angular</b> reference architecture for a web application with mobile-first responsive design and CI/CD through Docker registry.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/tortuga"
        url="/tortuga/"
    %}
    {% include card.html
        title="Erizo"
        imageSrcFilename="erizo.png"
        imageAlt="erizo"
        content="<p><b>Java/Spring and Vue</b> reference architecture for a web public application with mobile-first responsive design and CI/CD through Docker registry.</p><p>Functionally like Caracol, Vaca and Oruga in a different technology.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/erizo"
        url="/erizo/"
    %}
    {% include card.html
        title="Caracol"
        imageSrcFilename="caracol.png"
        imageAlt="caracol"
        content="<p><b>NodeJs/Express and Vue</b> reference architecture for a web public application with mobile-first responsive design and CI/CD through Docker registry.</p><p>Functionally like Erizo, Vaca and Oruga in a different technology.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/caracol"
        url="/caracol/"
    %}
    {% include card.html
        title="Vaca"
        imageSrcFilename="vaca.png"
        imageAlt="vaca"
        content="<p><b>PHP/Symfony and Vue</b> reference architecture for a web application with mobile-first responsive design and CI/CD through Docker registry.</p><p>Functionally like Erizo, Caracol and Oruga in a different technology.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/vaca"
        url="/vaca/"
    %}
    {% include card.html
        title="Oruga"
        imageSrcFilename="oruga.png"
        imageAlt="oruga"
        content="<p><b>C# ASP.NET Core and Vue</b> reference architecture for a web application with mobile-first responsive design and CI/CD through Docker registry.</p><p>Functionally like Erizo, Caracol and Vaca in a different technology.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/oruga"
        url="/oruga/"
    %}
    {% include card.html
        title="Tortuga Windows Update"
        imageSrcFilename="tortuga.png"
        imageAlt="tortuga"
        content="<p>Tortuga as a Windows Service and automatic updater.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/tortuga/tree/master/deploy/win"
        url="/tortugaWinUpdate"
    %}
    {% include card.html
        title="Tortuga Android"
        imageSrcFilename="tortuga.png"
        imageAlt="tortuga"
        content="<p>Android Application (wrapper of web app).</p><p><a href='https://play.google.com/store/apps/details?id=com.Odroid.tortuga&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google PlayXX' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' class='app-no-shadow app-small-image'/></a></p>"
        gitlabUrl="https://gitlab.com/javier-sedano/tortugaandroid"
        url="https://play.google.com/store/apps/details?id=com.Odroid.tortuga"
    %}
    {% include card.html
        title="Tortuga on Kubernetes"
        imageSrcFilename="tortuga.png"
        imageAlt="tortuga"
        content="<p>Tortuga deployed on Google Kubernetes Engine.</p><p>Notice that GKE is a paid service and <b>I may interrupt this deployement at any moment without further notice</b>.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/tortuga/tree/master/deploy"
        url="https://tortuga-jsedano.duckdns.org"
    %}
    {% include card.html
        title="FriendlyHello"
        imageSrcFilename="friendlyhello.png"
        imageAlt="friendlyhello"
        content="<p>FriendlyHello from Docker tutorial.</p>"
        url="/friendlyhello"
        disabled="true"
    %}
    {% include card.html
        title="Gata"
        imageSrcFilename="gata.png"
        imageAlt="gata"
        content="<p><b>Java/Spring and Javascript/AngularJS</b> reference architecture for a web application with mobile-first responsive design and CI/CD through Docker image.</p>"
        gitlabUrl="https://gitlab.com/javier-sedano/gata"
        url="/gata"
        disabled="true"
    %}
</div>