{% if include.disabled == "true" %}
{% assign classes="w3-disabled" %}
{% capture onclick%}onclick=""{% endcapture %}
{% assign go="(Currently disabled)" %}
{% else %}
{% assign classes="app-card-pointer" %}
{% capture onclick%}onclick="navigateTo('{{include.url}}')"{% endcapture %}
{% assign go="Go" %}
{% endif %}
<div class="app-card {{ classes }}" {{ onclick }}>
    <header class="w3-container w3-theme-d2 w3-large">
        {{ include.title }}
    </header>
    <div class="app-card-body">
        <img src="/assets/resources/{{include.imageSrcFilename}}" alt="{{include.imageAlt}}"
            class="w3-left w3-circle w3-margin-right app-card-img">
        {{ include.content }}
        {% if include.gitlabUrl %}
        <i class='fab fa-gitlab'></i> <a class="app-reenabled w3-large" href='{{include.gitlabUrl}}'>Source</a>
        {% endif %}
    </div>
    <a href="{{include.url}}"
        class="w3-button w3-block w3-container w3-theme-d2 w3-large">{{ go }}</a>
</div>