<footer class="w3-container w3-bottom w3-theme-d4 w3-margin-top w3-bar">
    <div class="w3-left w3-bottom app-footer-version">
        Version {{ site.env.CI_COMMIT_SHORT_SHA | escape }}
    </div>
    <div class="w3-right app-footer-copyright">
        <i class="fas fa-copyright"></i>  Javier Sedano 2020, <i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-sa"></i> <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA-4.0</a>
    </div>
</footer>