<head>
  <title>Dockide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <link rel="stylesheet" href='{{ "/assets/w3.css" | relative_url }}'>
  <link rel="stylesheet" href='{{ "/assets/theme.css" | relative_url }}'>
  <link rel="stylesheet" href='{{ "/assets/fontawesome/css/all.css" | relative_url }}'>
  <link rel="stylesheet" href='{{ "/assets/main.css" | relative_url }}'>
  <link rel="shortcut icon" type="image/png" href='{{ "/favicon.jpg" | relative_url }}'>
  <script charset="utf-8" src='{{ "/assets/js/app.js" | relative_url }}'></script>
</head>