{% assign active = "w3-theme-d3" %}

{% assign home_active = "" %}
{% if page.url == "/" %}
{% assign home_active = active %}
{% endif %}
<a class="w3-bar-item w3-button w3-xlarge w3-hover-theme {{ home_active }}" href='{{ "/" | relative_url }}'>Home</a>

{% assign downloads_active = "" %}
{% if page.url == "/downloads/" %}
{% assign downloads_active = active %}
{% endif %}
<a class="w3-bar-item w3-button w3-xlarge w3-hover-theme {{ downloads_active }}" href='{{ "/downloads/" | relative_url }}'>Downloads</a>

{% assign contributing_active = "" %}
{% if page.url == "/contributing/" %}
{% assign contributing_active = active %}
{% endif %}
<a class="w3-bar-item w3-button w3-xlarge w3-hover-theme {{ contributing_active }}" href='{{ "/contributing/" | relative_url }}'>Contributing</a>
