.w3-theme-l5 {color:#000 !important; background-color:#f2f8fe !important}
.w3-theme-l4 {color:#000 !important; background-color:#d3e9fa !important}
.w3-theme-l3 {color:#000 !important; background-color:#a7d3f5 !important}
.w3-theme-l2 {color:#000 !important; background-color:#7bbdf0 !important}
.w3-theme-l1 {color:#fff !important; background-color:#4fa8eb !important}
.w3-theme-d1 {color:#fff !important; background-color:#1884d7 !important}
.w3-theme-d2 {color:#fff !important; background-color:#1575bf !important}
.w3-theme-d3 {color:#fff !important; background-color:#1367a7 !important}
.w3-theme-d4 {color:#fff !important; background-color:#10588f !important}
.w3-theme-d5 {color:#fff !important; background-color:#0d4977 !important}

.w3-theme-light {color:#000 !important; background-color:#f2f8fe !important}
.w3-theme-dark {color:#fff !important; background-color:#0d4977 !important}
.w3-theme-action {color:#fff !important; background-color:#0d4977 !important}

.w3-theme {color:#fff !important; background-color:#2391e6 !important}
.w3-text-theme {color:#2391e6 !important}
.w3-border-theme {border-color:#2391e6 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#2391e6 !important}
.w3-hover-text-theme:hover {color:#2391e6 !important}
.w3-hover-border-theme:hover {border-color:#2391e6 !important}
