<!DOCTYPE html>
<html>

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <div class="w3-container w3-text-theme app-main-content">
    {{ content }}
  </div>

  {%- include footer.html -%}

</body>

</html>